# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

# Shared secrets are available across all environments.

# shared:
#   api_key: a1B2c3D4e5F6

# Environmental secrets are only available for that specific environment.

development:
  secret_key_base: d64d15aabf942bc5c4ad8d63b39ca620c9c03a1d9cc5f585a4f1dde9d0ada38d86548e309f139409ffbd219ca55b6b2e75d13d67951f51437b6723329911f6df

test:
  secret_key_base: a9e4b2c6fb843a426605f2fa121c6222464ba0d29d61a43d6168d528820dc0be1a3e30d6d7d728310bda7886169c40a3137a72291d417d7fd375b0f3d4b15ef6

# Do not keep production secrets in the unencrypted secrets file.
# Instead, either read values from the environment.
# Or, use `bin/rails secrets:setup` to configure encrypted secrets
# and move the `production:` environment over there.

production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
